{% load staticfiles %}


<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<h1>{{ league.League_Name }}</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Team Name
			</th>
		</tr>
	</thead>
	<tbody>
		{% for team in league.Teams %}
			<tr>
				<td>
					{{ team.Team_Name }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>