{% extends "base.html" %}
{% load stats_extras %}

{% block title %}My Team's Stats{% endblock %}

{% block content %}
<div id="Stats" class="col-md-10">
	<h1 class="text-center">My Team</h1>
	{% if team.Players|length > 10 %}
	<table class="table">
		<thead>
			<tr>
				<th>
					Stat Name
				</th>
				<th>
					My Team's Stats
				</th>
				<th>
					Average Stat Deviation
				</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in percent.items %}
				{% if value|isnumber and key != 'id' and value >= 1 %}
					<tr>
						<td>
							<b>{{ key }}:</b>
						</td>
						<td>
							{{ myavg|get:key }}
						</td>
						<td>
							<div class="progress">
								<div class="progress-bar {{ value|bartype }}" role="progressbar" aria-valuenow="{{ myavg|get:key }}" style="width:{{ percent|get:key }}%">
									<!--{{ myavg|get:key }}-->
								</div>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="text-center">Please add more players to team to see statistics</div>
	{% endif %}
</div>
<div class="col-md-2">
	<p><h3 class="text-center">Players</h3></p>
	<div class="scrollable border-above border-left border-below">
		{% for player in team.Players %}
		<p id='player{{ player.id }}' class="text-center"><a href='/stats/players/{{ player.id }}'>{{ player.Name }}</a> <span class="glyphicon glyphicon-remove red" onclick="RemovePlayer(this, {{ player.id }})" aria-hidden="true"></span></p>
		{% endfor %}
	</div>
</div>
<script>
	function RemovePlayer(element, playerid){
		$.ajax({url: "/stats/teams/myteam/remove/" + playerid + "/", success: function(result){
			var element = document.getElementById("player" + playerid);
			element.parentNode.removeChild(element);
			UpdateStats();
			alert(result);
		}, error: function(){
			alert("Failed to contact server");
		}});
	}

	function UpdateStats() {
        $.ajax({
                url: '/stats/teams/myteam/',
                success: function(data) {
                    // grab the inner html of the returned div
                    // so you don't nest a new div#refresh-this-div on every call
                    var html = $(data).filter('#Stats').html();
                    $('#Stats').html(html);
                }
        });
	}
</script>
{% endblock %}