{% extends "base.html" %}
{% load stats_extras %}

{% block title %}{{ player|get:'Name'|formatname }}'s Stats{% endblock %}

{% block content %}
<div class="col-md-10">
	<div class='text-center'>
	<playername style="display: inline">{{ player|get:'Name'|formatname }}</playername>
	<span style="font-family: 'Architects Daughter', cursive; font-size: 3.75em">
	<sup>
	{% if 'Rank' in player %}
		#{{ player|get:'Rank' }}
	{% else %}
		(unranked)
	{% endif %}
	</sup>
	</span>
	</div>
	
	<table class="table table-inverse">
	  <thead>
		<tr>
		  <th>Age</th>
		  <th>Position</th>
		  <th>Height</th>
		  <th>Weight</th>
		  <th>Number</th>
		  <th>Shoots</th>
		  <th>Team</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td>{{player|get:'Age'}} </td>
		  <td>{{player|get:'Position'}} </td>
		  <td>{{player|get:'Height'}} </td>
		  <td>{{player|get:'Weight'}} </td>
		  <td>{{player|get:'Number'}} </td>
		  <td>{{player|get:'Shoots'}} </td>
		  <td>{{player|get:'Team'}} </td>
		</tr>
	  </tbody>

	<table class="table">
		<thead>
			<tr>
				<th>
					<button class="button" onclick="AddPlayer({{ player.id }})"><span class="glyphicon glyphicon-plus green" aria-hidden="true"></span></button>
					Add Player to My Team
				</th>
				<th>
					{{ player|get:'Name'|formatname }}'s Stats
				</th>
				<th>
					Standard Deviation for {{ player|get:'Position'|position }}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in percent.items %}
				{% if value|isnumber and key|relevant and value >= 1 %}
					<tr>
						<td>
							<b>{{ key }}:</b>
						</td>
						<td>
							{{ player|get:key }}
						</td>
						<td>
							<div class="progress">
								<div class="progress-bar {{ value|bartype }}" role="progressbar" aria-valuenow="{{ player|get:key }}" style="width:{{ value }}%">
								</div>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="col-md-2">
	<p><h3 class="text-center">Similar Players ({{ similar|length }})</h3></p>
	<div class="scrollable border-above border-left border-below">
		{% for compplayer in similar %}
		{%if compplayer.Position == player.Position %}
		<playerlistname class="text-center"><a href='/stats/players/{{ player.id }}/compare/{{ compplayer.id }}'>{{ compplayer.Name }}</a></playerlistname>
		{%endif%}
		{% endfor %}
	</div>
</div>
<script>
	function AddPlayer(playerid){
		$.ajax({url: "/stats/teams/myteam/add/" + playerid + "/", success: function(result){
			alert(result);
		}, error: function(){
			alert("Failed to contact server");
		}});
	}
</script>
{% endblock %}