{% extends "base.html" %}
{% load stats_extras %}

{% block title %}{{ team|get:'Team Name' }}'s Stats{% endblock %}

{% block content %}
<div class="col-md-10">
	<teamname>{{ team|get:'Team Name' }}</teamname>
	<table class="table">
		<thead>
			<tr>
				<th>
					Stat Name
				</th>
				<th>
					{{ team|get:'Team Name' }}'s Stats
				</th>
				<th>
					Standard Deviation Teams
				</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in percent.items %}
					<tr>
						<td>
							<b>{{ key }}:</b>
						</td>
						<td>
							{{ team|get:key }}
						</td>
						<td>
							<div class="progress">
								<div class="progress-bar {{ value|bartype }}" role="progressbar" aria-valuenow="{{ team|get:key }}" style="width:{{ value }}%">
								</div>
							</div>
						</td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="col-md-2">
	<p><h3 class="text-center">Players ({{ team.Players|length }})</h3></p>
	<div class="scrollable border-above border-left border-below">
		{% for player in team.Players %}
		<playerlistname class="text-center"><a href='/stats/players/{{ player.id }}'>{{ player.Name }}</a></playerlistname>
		{% endfor %}
	</div>
</div>
{% endblock %}