
{% load staticfiles %}
<head>
  <style>
    #wrap {
       width:620px;
       margin:0 auto;
    }
    #left_col {
       float:left;
       width:280px;
    }
    #right_col {
       float:right;
       width:280px;
    }
    .ui-dialog-titlebar {
      font-size: 80%;
    }
    .ui-button,  .ui-button-text .ui-button{  
      font-size: 12px !important; 
      margin-right: 22em !important;
    }
    .ui-dialog-titlebar-close{
      margin: -10px 5 0 0 !important;
    }
  </style>
  <script type='text/javascript' src='{% static 'jquery-1.12.3.min.js' %}'></script>
  <script type='text/javascript' src='{% static 'jquery-ui.js' %}'></script>
  <link rel='stylesheet' type='text/css' href='{% static 'jquery-ui.css' %}' />
</head>
<body>
   <form id="form1" runat="server">
      <div id="dialogMsg" title="Player Comparison">
        <div id="wrap">
          <div id="left_col">
		  {% if latest_question_list %}
            <center>{{ latest_question_list.0.name }}</center>
            <br>
			<center>Goals</center>
            <div id="progressbar"></div>
			<center>Assists</center>
            <div id="progressbar2"></div>
			<center>Even Strength Primary PTS/GP</center>
            <div id="progressbar3"></div>
			<center>Penalty Minutes</center>
            <div id="progressbar4"></div>
			<center>Even Strength Goals For REL</center>
            <div id="progressbar5"></div>
			<center>Even Strength Goals Against</center>
            <div id="progressbar6"></div>
            <br>
		 {%endif%}
          </div>
          <div id="right_col">
		  {% if latest_question_list %}
            <center>{{ latest_question_list.1.name }}</center>
            <br>
			<center>Goals</center>
            <div id="progressbar7"></div>
			<center>Assists</center>
            <div id="progressbar8"></div>
			<center>Even Strength Primary PTS/GP</center>
            <div id="progressbar9"></div>
			<center>Penalty Minutes</center>
            <div id="progressbar10"></div>
			<center>Even Strength Goals For REL</center>
            <div id="progressbar11"></div>
			<center>Even Strength Goals Against</center>
            <div id="progressbar12"></div>
            <br>
		 {%endif%}
          </div>
        </div>
      </div>
   </form>
</body>

<script type="text/javascript">
	$('#dialogMsg').dialog({
        resizable: false,
        minWidth: 650,
        buttons: {
		    "Ok, I'm done": function() {
		    	$(this).dialog("close");
			}
    	}
    }).css("font-size", "12px");

</script>

<script>
  $('#progressbar').progressbar({
	value:{{latest_question_list.0.goals}}
  }).height(20);
  $( "#progressbar2" ).progressbar({
	value:{{latest_question_list.0.assists}}
  }).height(20);
  $( "#progressbar3" ).progressbar({
	value:{{latest_question_list.0.es_primary_pt_gp}}* 50.0
  }).height(20);
  $( "#progressbar4" ).progressbar({
	value:{{latest_question_list.0.pim}}
  }).height(20);
  $( "#progressbar5" ).progressbar({
	value:{{latest_question_list.0.es_gf_rel}}* 50.0
  }).height(20);
  $( "#progressbar6" ).progressbar({
	value:{{latest_question_list.0.es_ga}}
  }).height(20);
</script>

<script>
  $('#progressbar7').progressbar({
	value:{{latest_question_list.1.goals}}
  }).height(20);
  $( "#progressbar8" ).progressbar({
	value:{{latest_question_list.1.assists}}
  }).height(20);
  $( "#progressbar9" ).progressbar({
	value:{{latest_question_list.1.es_primary_pt_gp}}* 50.0
  }).height(20);
  $( "#progressbar10" ).progressbar({
	value:{{latest_question_list.1.pim}}
  }).height(20);
  $( "#progressbar11" ).progressbar({
	value:{{latest_question_list.1.es_gf_rel}}* 50.0
  }).height(20);
  $( "#progressbar12" ).progressbar({
	value:{{latest_question_list.1.es_ga}}
  }).height(20);
</script>