body, html {
  margin: 0;
  height:50vh;
  background-color: honeydew
}

.scrollable {
	max-height: 93vh;
	overflow-y: scroll;
}

.border-left {
  border-left: 1px solid #333;
}

.border-right {
  border-right: 1px solid #333;
}

.border-above {
  border-top: 1px solid #333;
}

.border-below {
  border-bottom: 1px solid #333;
}

.progress-bar-purple {
      background-color: dodgerblue !important;
}

.progress-bar-orange {
      background-color: mediumseagreen !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

