body, html {
  margin: 0;
  height:100%;
  background-color: honeydew
}

.scrollable {
	max-height: 93vh;
	overflow-y: scroll;
}

.border-left {
  border-left: 1px solid #333;
}

.border-right {
  border-right: 1px solid #333;
}

.border-above {
  border-top: 1px solid #333;
}

.border-below {
  border-bottom: 1px solid #333;
}